.home{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100vw;
    padding-top: 50px;

    .description {
        display:flex;
        width:100vw;
        justify-content: space-around;
        margin-bottom: 50px;


        .text{
            color:white;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 50px;
            font-size: 28px;

            h2{
                font-size:25px;
                
            }

            .techno{
                display:flex;
                justify-content: space-around;
                width:50vw;

                p{
                    
                    color:white;
                    border-radius: 10px;
                    height:5vh;
                }
            }
        }
    
        .image{
            img{
                height:62vh;
                width:48vh;
                border-radius: 10px;;
            }
           
        }

    .etudes{

      p{
        font-size:20px;
        text-align: center;
      }
    }    
    
    }

    .skills{
        width:85vw;
        height:30vh;
        border-color: rgba(255, 255, 255, 0.321);
        border-style:ridge ;
        border-radius: 10px;
        display:flex;
        justify-content: space-around;
        gap:20px;
        align-items: center;
        margin: 0 auto;
        color:white;
        text-align: center;
        margin-bottom: 70px;;
        
        h2{
            margin-bottom:10px;
        }

        img{
            height:8vh;
            width:4vw;
            margin-bottom: 20px;;
        }
    }

    .projets-container{
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;

        .link-projet{
            background-color: white;
            border-radius: 10px;
            height: 8vh;
            width:16vw;
            margin-bottom: 70px;

            h1{
                color: rgba(0,94,120,1);
                font-size: 40px;
                border-radius: 10px;
                display:flex;
                justify-content: center;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }
            a{
                text-decoration:none;
            }
        
    }

        .projets{
            display: flex;
            width:60%;
            justify-content: space-around;
            margin:0 auto;
            gap:50px;
            flex-wrap:wrap ;
            color:white;
            padding-bottom: 30px;

            
    
            img{
                height:25vh;
                width:50vh;
                border-radius: 10px;;
            }
            h2{
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }

   .contact{
    width:60%;
    height:20vh;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.321);
    margin : 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    
    h2{
        color:white;
        font-weight: 100;
    }

    button {
        font-family: inherit;
        font-size: 20px;
        background: rgba(0,94,120,1);
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;
        height:10vh;
      }
      
      button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      
      button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      
      button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      
      button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      
      button:hover span {
        transform: translateX(5em);
      }
      
      button:active {
        transform: scale(0.95);
      }
      
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }
      
        to {
          transform: translateY(-0.1em);
        }
      }
      
   }

}

