@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
	font-family: 'Playfair Display' ;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
:root {
	min-height: 100vh;
	overflow-x: hidden;
}

body{
	background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );

}